.cartItemContainer{
    margin: 10px 0px;

}
.cartProImgContainer{
    width: 112px;
    height: 112px;
    overflow: hidden;
    text-align: center;
}
.cartProImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.cartProImgContainer{
    width: 112px;
    height: 112px;
    overflow: hidden;
    text-align: center;
}
.cartProImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.cartItemDetails{
    padding: 0 24px 12px;
    vertical-align: top;
    min-height: 112px;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
    max-width: 460px;

}
.right{
    vertical-align: top;
    flex: 0 0 242px;
    margin-left: 100px;
}

.cartActionBtn{
    margin: 0 24px;
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: #212121;
    cursor: pointer;
    font-size: 15px;
}
.quantityControl{
    display: flex;
    align-items: center;
}
.quantityControl button{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
.quantityControl input{
    display: inline-block;
    padding: 3px 6px;
    width: calc(100% - 60px);
    height: 100%;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    text-align: center;
} 